
/* FONTS */

label, select									{ font: normal 14px Arial, Helvetica, sans-serif; }


.files .tree .node:not(.leaf)>.trigger			{ font-weight: bold; }

.files .tree .node>.trigger:before				{ font-family:'FontAwesome'; font-weight: normal; }
.files .tree .node>.trigger:before				{ content: '\f096'; }
.files .tree .node.on>.trigger:before			{ content: '\f046'; }




/* STRUCTURE */
body, html										{ padding: 0; width: 100%; margin: 0; height: 100%;}

body { margin: 0px; padding: 0px;}

html { margin: 0px; padding: 0px;}

body {overflow: hidden;}


/*body											{ margin: 0; padding: 0; }*/

*												{ box-sizing: border-box;}


/*CORE*/
/*.core:after									{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*/
.core>*											{ float: left;}

/* common */
label, input[type=radio], select, fieldset		{ float:left; }

fieldset										{ border:none; }

label											{ margin: 0 10px 0 0; }


/* COMMON */
.files, .result									{ padding: 20px; }
.files .inner, .result .inner					{ height: 100%; }	


/* Collections */
.collections									{  }

/*dims*/
.collections									{ width: 33.3333%; height: 50px; padding: 10px; }
.collections select								{ width: 200px; }
.collections select								{ margin: 0 50px 0 0; }


.types											{ width: 66.6666%; height: 50px; padding: 10px; }
.types input[type=radio]						{ margin-right: 10px;}
.types label									{ margin-right: 40px; }


/* Files */
.files .inner									{ overflow-y: auto;}
.files .tree									{ padding: 0; margin: 0; }
.files .tree .node								{ list-style: none; cursor: default; }			
.files .tree .node>.trigger						{ display: inline-block; }
.files .tree .node>.trigger:before				{ display: inline-block; }

/*dims*/
.files											{ width: 33.3333%; }
.files .tree .branch							{ padding-left: 40px; }
.files .tree .node>.trigger						{ padding-top: 2px; padding-bottom: 2px; }
.files .tree .node>.trigger:before				{ width: 20px; }




/* Result */
.result 										{ }

/*dims*/
.result 										{ width: 66.6666%;  }

.result textarea								{ width: 100%; height: 100%; }