/* STRUCTURE */
body, html													{ padding: 0; width: 100%; margin: 0; height: 100%;}

body { margin: 0px; padding: 0px;}

html { margin: 0px; padding: 0px;}

body {overflow: hidden;}


/*body															{ margin: 0; padding: 0; }*/

*																{ box-sizing: border-box;}


/*CORE*/
.files .files-group .controls::after,
.preferences fieldset::after										{ content:"."; display:block; height:0; clear:both; visibility:hidden; }



/*.core::after													{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*/
.core>*															{ float: left;}

/* common */
/*label, input[type=radio], select, fieldset						{ float:left; }*/

fieldset														{ border:none; }

label															{ margin: 0 10px 0 0; }


/* COMMON */
.files, .result													{ padding: 20px; }
.result .inner													{ height: 100%; }	


.select-wrapper 												{ position: relative; overflow: hidden; }
.select-wrapper::after											{ position: absolute; right: 5px; pointer-events:none; }

/* dims */
.select-wrapper::after											{ right: 5px; top: 2px;}


/* Collections | File Manager */
.collections select,
.files .group-nav select										{ -webkit-appearance: none; appearance: none; border: 0; }


/* Collections */
.collections													{  }
.collections select												{ width: 100%; height: 30px;  }

/*dims*/
.collections													{ width: 33.3333%; height: 50px; padding: 10px 20px 10px 20px; }



/* Preferences */
.preferences fieldset 											{ display: inline-block; }
.preferences label,
.preferences input[type=radio],
.preferences input[type=checkbox] 								{ float: left; }

/* dims */
.preferences													{ width: 66.6666%; height: 50px; padding: 10px; }
.preferences input[type=radio],
.preferences input[type=checkbox]								{ margin-right: 10px;}
.preferences label												{ margin-right: 40px; }


/* Files: Group Nav */
.files .group-nav												{ text-align: center;}
.files .group-nav .index .i,
.files .group-nav .select-wrapper								{ display: inline-block;}
.files .group-nav .index 										{ font-size: 0; } /* removes strange children inline-block margin */

/*dims*/
.files .group-nav .index										{ padding: 3px 0 7px 0; }
.files .group-nav .index .i 									{ width: 8px; height: 8px; }
.files .group-nav .index .i:not(:last-child) 					{ margin-right: 10px; }

/* dims */
.files .group-nav select										{ height: 18px; padding-right: 20px; }

/* Files: Group */
.files .inner.has-scroll										{ overflow-y: auto; }

.files .files-group .controls .controls-check					{ float:left; }
.files .files-group .controls .controls-visibility				{ float: right; }

.files .files-group.on .tree									{ display: block; }
.files .files-group .tree										{ padding: 0; margin: 0; display: none; }
.files .files-group .tree .node									{ list-style: none; }			
.files .files-group .tree .node>.trigger						{ display: inline-block; }

.files .files-group .controls,
.files .files-group .tree .node									{ cursor: default; }

.files .files-group .controls .controls-check::before,
.files .files-group .tree .node>.trigger::before				{ display: inline-block; }

/*dims*/
.files															{ width: 33.3333%; }

.files .inner.has-scroll										{ padding-right: 20px; }

.files .files-group												{ padding: 0 10px 0 10px; }
.files .files-group:not(:last-child)							{ margin-bottom: 20px; }


.files .files-group .controls,
.files .files-group .tree										{ padding: 10px 0 10px;  }

.files .files-group .tree .branch								{ padding-left: 40px; }
.files .files-group .tree .node>.trigger						{ padding-top: 2px; padding-bottom: 2px; }

.files .files-group .controls .controls-check::before,
.files .files-group .tree .node>.trigger::before				{ width: 20px; }



/* Result */
.result 														{ }

/*dims*/
.result 														{ width: 66.6666%;  }

.result textarea												{ width: 100%; height: 100%; }





/* FONTS */

label, select													{ font: normal 14px Arial, Helvetica, sans-serif; }


.collections select												{ font-size: 16px; }



.files .files-group .tree .node:not(.leaf)>.trigger				{ font-weight: bold; }


/* icons*/
.select-wrapper::after,
.files .files-group .controls .controls-check::before,
.files .files-group .controls .controls-visibility::before,
.files .files-group .tree .node>.trigger::before				{ font-family:'FontAwesome'; font-weight: normal; }

/* uncheck */
.files .files-group .controls .controls-check::before,
.files .files-group .tree .node>.trigger::before				{ content: '\f096'; } 

/* check */
.files .files-group .controls .controls-check.on::before,
.files .files-group .tree .node.on>.trigger::before				{ content: '\f046'; }

/* visible [eye open] */
.files .files-group .controls .controls-visibility.on::before	{ content: '\f06e'; }

/* visible [eye closed] */
.files .files-group .controls .controls-visibility::before		{ content: '\f070'; }

/* arrow circle down */
.collections .select-wrapper::after								{ content: '\f0ab'; font-size: 1.5em; }

/* caret down */
.files .group-nav .select-wrapper::after						{ content: '\f0d7'; font-size: 1em; }



/* COLORS | BG | BORDER-RADIUS */

.select-wrapper::after											{ color: #666; }
.files .group-nav .index .i 									{ background-color: #666; }

.collections .select-wrapper,
.files .files-group,
.result textarea												{ border: 1px solid #CCC; }
.files .files-group.on .controls								{ border-bottom: 1px solid #CCC; }



.files .group-nav .index .i.active								{ background-color: #f00; }




/* border radius*/
.collections .select-wrapper									{ border-radius: 10px; }

.files .files-group												{ border-radius: 5px; }
.result textarea 												{ border-radius: 5px 0 0 0; }

.files .group-nav .index .i 									{ border-radius: 100%; }